abagen==0.1.3
black==19.10b0
brainsmash==0.11.0
docutils==0.17.1
joblib==1.1.0
nibabel==3.2.2
nilearn==0.9.0
numpy==1.22.0
pandas==1.3.4
scipy==1.7.1
selenium==4.1.3
setuptools==58.0.4
statsmodels==0.12.2
unicode_slugify==0.1.5
